.App {
  margin: 0;
  background-color: #fff;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.TopMenu {
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  padding: 20px 0;
  color: #7cae7a;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.nav {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
}

.nav-item {
  display: inline-block;
  flex: 1 1 0;
  text-align: center;
  padding: 16px;
  color: #000;
  text-decoration: none;
}

.nav-item:hover {
  color: #7cae7a;
  font-weight: bold;
}

.section {
  padding: 30px;
}

.section-title {
  margin-top: 0;
  font-size: 28px;
  color: #7cae7a;
}

.section-description {
  line-height: 30px;
  font-size: 18px;
}

.articles {
  border-top: 1px solid #eee;
}

.article {
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}

.article-title {
  margin-top: 0;
}

.article-title a {
  color: #000;
  text-decoration: none;
}

.article-title a:hover {
  color: #7cae7a;
}

.article-image {
  max-width: 60%;
  margin: 20px 0;
}

.article-time {
  color: #999;
  font-size: 12px;
}

.article-site {
  color: #999;
  font-size: 16px;
}

.article-summary {
  font-size: 18px;
  line-height: 30px;
}

.sectionHome h1 {
  padding: 30px;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.sectionHome p {
  text-align: center;
  justify-content: space-around;
}

.svg {
  padding-top: 10px;
}

.svg1 {
  padding-top: 80px;
}

.sosmed {
  padding-top: 100px;
}

.sosial-media {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}

.sosial-media-text {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sosial-media-text li {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 100%;
}

.sosial-media-text a {
  text-decoration: none;
  list-style: none;
  color: black;
}

.sosial-media-text a:hover {
  transition: 0.3s ease;
  color: black;
  font-weight: bold;
}

.instagram {
  width: 75px;
  height: auto;
}

.linkedin {
  width: 75px;
  height: auto;
}

.gmail {
  width: 75px;
  height: auto;
}

.green {
  color: #7cae7a;
  margin-top: 100px;
}
